{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="center-text">
        <div id="table_container">
            <div id="info" class="row">
                <div class="col-md-3">

                </div>
                <div id="caption_container" class="col-md-6">
                    <h4>
                        ثبت مقاله جدید
                    </h4>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <form id="article_form" method="post" action="/ArticlesManagement/add_new_article/" dir="rtl" style="margin-top: 40px">
                {% csrf_token %}
                <div class="row form_field_container" align="center" dir="rtl">
                    <div class="center-text form_field_label_container col-md-4">
                        {{ article_form.title.label }}
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="title" value="{{ article_form.title.value |default_if_none:''}}" dir="rtl" autocomplete="off" >
                    </div>
                    <div class="col-md-4 error">
                        {{ article_form.title.errors.as_text }}
                    </div>
                </div>

                <div class="row form_field_container" align="center" dir="rtl">
                    <div class="center-text form_field_label_container col-md-4">
                        {{ article_form.AuthorName.label }}
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="AuthorName" value="{{ article_form.AuthorName.value |default_if_none:''}}" dir="rtl" autocomplete="off" >
                    </div>
                    <div class="col-md-4 error">
                        {{ article_form.AuthorName.errors.as_text }}
                    </div>
                </div>

                <div class="row form_field_container" align="center" dir="rtl">
                    <div class="center-text form_field_label_container col-md-4">
                        {{ article_form.type.label }}
                    </div>
                    <div class="col-md-4">
                        <select name="type" dir="rtl" style="width:80%">
                            <option value="RA" selected="selected">
                                علمی پژوهشی
                            </option>
                            <option value="AN">
                                تحلیلی
                            </option>
                            <option value="OT">
                                سایر
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4 error">
                        {{ article_form.type.errors.as_text }}
                    </div>
                </div>

                <div class="row form_field_container" align="center" dir="rtl">
                    <div class="center-text form_field_label_container col-md-4">
                        {{ article_form.publication_date.label }}
                    </div>
                    <div class="col-md-4">
                        <input type="date" name="publication_date" value="{{ article_form.publication_date.value |default_if_none:''}}" dir="ltr" autocomplete="off" >
                    </div>
                    <div class="col-md-4 error">
                        {{ article_form.publication_date.errors.as_text }}
                    </div>
                </div>

                <div class="row form_field_container" style="margin-top: 20px" align="center" dir="rtl" >
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="ثبت" />
                    </div>
                    <div class="col-md-4"></div>

                </div>
            </form>

        </div>
    </div>

{% endblock %}