{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'ArticlesManagement/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ArticlesManagement/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ArticlesManagement/css/style.css' %}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>سیستم مدیریت نشریات</title>
</head>

<body>
<header class="top-body">
    <div id="titr" class="center-text">
    سیستم مدیریت نشریات و مقالات
</div>
</header>

<div class="middle-body">
{% if request.path != '/ArticlesManagement/' %}
    <div style="float: right" class="row">
        <a href="/ArticlesManagement/" style="margin: 0">
            <strong>
                صفحه اصلی
            </strong>
        </a>
        <img src="{% static 'ArticlesManagement/images/13.jpg' %}" height="30px" width="30px" style="margin: 0">

    </div>
{% endif %}

    {% block errors %}
    {% endblock %}

    {% block hello_block %}
    {% endblock %}
    <main style="width:80%; margin: auto">
        {% block content %}
        {% endblock %}
    </main>


</div>

</body>
</html>