{% extends 'base.html' %}
{% load static %}
{% block hello_block %}
    <div id="hello_container">
        {% if user.is_authenticated %}
            <div id="image_containrer" style="float: right; margin: 20px">
                {% if user.userprofile %}
                    <img src="{{ user.userprofile.picture.url}}" height="100px" width="100px"/>
                {% else %}
                    <img src="{% static "ArticlesManagement/images/DefaultUser.jpg" %}" height="100px" width="100px">
                {% endif %}
            </div>
            <div dir="rtl" style="vertical-align: middle; padding: 30px 20px">

                <h4 dir="rtl" class="hello_options">
                    <b>
                        کاربر گرامی
                        {{ user.username }}
                        خوش آمدید
                    </b></h4>
                <a href="logout" style="display: block"><b>
                    خروج از سایت
                </b></a>
            </div>

        {% else %}
            <div dir="rtl" style="vertical-align: middle; padding: 30px 20px">
                <h4 dir="rtl" class="hello_options">
                    <b>
                        برای دسترسی به مقالات ابتدا وارد سایت شوید
                    </b>
                </h4>
                </br>

                <a href="login"><b>
                    ورود
                </b></a>
                <a href="register">
                    <b>
                        ثبت نام
                    </b>
                </a>

            </div>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div align="center" >

        <div id="table_container">
            <div id="info" class="row">
                <div class="col-md-3">
                    {% if user.is_authenticated %}
                        <a href="add_article" class="add_article_style">
                            ثبت مقاله ی جدید
                        </a>
                    {% endif %}
                </div>
                <div id="caption_container" class="col-md-6">
                    <h4>
                        لیست مقالات ثبت شده
                    </h4>
                </div>
                <div class="col-md-3"></div>

            </div>
            <table dir="rtl">
                <tr>
                    <th>
                        عنوان مقاله
                    </th>
                    <th>
                        نویسنده
                    </th>
                    <th>
                        تاریخ انتشار
                    </th>
                    <th>
                        نوع مقاله
                    </th>
                    {% if user.is_authenticated %}
                        <th>
                            حذف مقاله
                        </th>
                    {% endif %}
                </tr>
                {% for article in articles %}
                    <tr>
                        <td> {{ article.title }}</td>
                        <td> {{ article.AuthorName }}</td>
                        <td> {{ article.publication_date }}</td>
                        <td>
                            {{ article.get_type_value }}
                        </td>
                        {% if user.is_authenticated %}
                            <td>
                                <a href='delete_article/{{ article.id }}' onclick="return confirm('آیا از حذف این مقاله مطمئن هستید؟')">
                                    <img src="{% static 'ArticlesManagement/images/15.png' %}" height="10px" width="10px">
                                </a>
                            </td>
                        {% endif %}
                    </tr>

                {% endfor %}
            </table>
        </div>

    </div>


{% endblock %}

