{% extends 'base.html' %}
{% block content %}

        <div id="table_container" dir="rtl" align="center">
            <form id="login_form" method="post" action="" dir="rtl" style="margin: 10px">
                {% csrf_token %}
                <table class="form_table">
                    <caption align="center" class="table_caption">
                        ورود به سامانه مدیریت نشریات
                    </caption>
                        {% if errors != '' %}
                            <tr style="color:red">
                                <th style="border-width: 0">

                                </th>
                            <td style="border-width: 0">
                                {{ errors }}
                            </td>
                            </tr>

                        {% endif %}

                    <tbody>
                    <tr>
                        <th>
                            <label for="username">
                            نام کاربری
                        </label>
                        </th>
                        <td>
                            <input type="text" name="username" id="username" value="" dir="ltr">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="password">
                            رمز عبور
                        </label></th>
                        <td>
                            <input type="password" name="password" id="password" value="" dir="ltr">
                        </td>
                    </tr>
                    <input type="hidden" name="next" value="{{ next }}">
                    <tr>
                        <th style="border-width: 0"></th>
                        <td style="border-width: 0">
                            <input style="width: 170px" type="submit"   value="تایید"    />
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>
        </div>

{% endblock %}