{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center">
        <div id="table_container">
            {% if registered %}

                <strong style="font-size:20px">
    از ثبت نام شما سپاسگزاریم
                </strong>
                </br>
                </br>
                <a href="/ArticlesManagement/">
    بازگشت به صفحه اصلی
                </a>
            {% else %}
                <div id="info" class="row" style="width: 90%;">
                <div class="col-md-3">
                </div>
                <div id="caption_container" class="col-md-6">
                    <h4>
        ثبت نام در سامانه
                    </h4>
                </div>
                <div class="col-md-3"></div>
            </div>

                <form id="user_form" method="post" action="/ArticlesManagement/register/" enctype="multipart/form-data" dir="rtl" style="margin: 40px">
                    {% csrf_token %}
                    <div class="row form_field_container" align="center" dir="rtl">
                        <div class="center-text col-md-4 form_field_label_container">
                            {{ user_form.username.label }}
                        </div>

                        <div class="col-md-4">
                            <input type="text" name="username" value="{{ user_form.username.value |default_if_none:''}}" dir="ltr">
                        </div>
                        <div class="col-md-4 error">
                            {{ user_form.username.errors.as_text }}
                        </div>

                    </div>
                    <div class="row form_field_container" align="center" dir="rtl">
                        <div class="center-text col-md-4 form_field_label_container">
                            {{ user_form.email.label }}
                        </div>

                        <div class="col-md-4">
                            <input type="email" name="email" value="{{ user_form.email.value |default_if_none:''}}" dir="ltr" autocomplete="off" >
                        </div>
                        <div class="col-md-4 error">
                            {{ user_form.email.errors.as_text }}
                        </div>
                    </div>
                    <div class="row form_field_container" align="center" dir="rtl">
                        <div class="center-text col-md-4 form_field_label_container">
                            {{ user_form.password.label }}
                        </div>

                        <div class="col-md-4">
                            <input type="password" name="password" value="{{ user_form.password.value |default_if_none:''}}" dir="ltr" autocomplete="off">
                        </div>
                        <div class="col-md-4 error">
                            {{ user_form.password.errors.as_text }}
                        </div>
                    </div>
                    <div class="row form_field_container" align="center" dir="rtl">
                        <div class="center-text col-md-4 form_field_label_container">
                            {{ profile_form.first_name.label }}
                        </div>

                        <div class="col-md-4">
                            <input type="text" name="first_name" value="{{ profile_form.first_name.value|default_if_none:'' }}" dir="rtl">
                        </div>
                        <div class="col-md-4 error">
                            {{ profile_form.first_name.errors.as_text }}
                        </div>
                    </div>
                    <div class="row form_field_container" align="center" dir="rtl">
                        <div class="center-text col-md-4 form_field_label_container">
                            {{ profile_form.last_name.label }}
                        </div>

                        <div class="col-md-4">
                            <input type="text" name="last_name" value="{{ profile_form.last_name.value |default_if_none:''}}" dir="rtl">
                        </div>
                        <div class="col-md-4 error">
                            {{ profile_form.last_name.errors.as_text }}
                        </div>
                    </div>
                    <div class="row form_field_container" align="center" dir="rtl">
                        <div class="center-text col-md-4 form_field_label_container">
                            {{ profile_form.phone_number.label }}
                        </div>

                        <div class="col-md-4">
                            <input type="text" name="phone_number" value="{{ profile_form.phone_number.value |default_if_none:''}}" dir="ltr">
                        </div>
                        <div class="col-md-4 error">
                            {{ profile_form.phone_number.errors.as_text }}
                        </div>
                    </div>
                    <div class="row form_field_container" align="center" dir="rtl">
                        <div class="center-text col-md-4 form_field_label_container">
                            {{ profile_form.birthdate.label }}
                        </div>

                        <div class="col-md-4">
                            <input type="date" name="birthdate" value="{{ profile_form.birthdate.value |default_if_none:''}}" height="20px">
                        </div>
                        <div class="col-md-4 error">
                            {{ profile_form.birthdate.errors.as_text }}
                        </div>
                    </div>
                    <div class="row form_field_container" align="center" dir="rtl">
                        <div class="center-text col-md-4 form_field_label_container">
                            {{ profile_form.picture.label }}
                        </div>

                        <div class="col-md-4">
                            <input type="file" name="picture" value="{{ profile_form.picture.value |default_if_none:''}}">
                        </div>
                        <div class="col-md-4 error">
                            {{ profile_form.picture.errors.as_text }}
                        </div>

                    </div>

                    <div class="row form_field_container" style="margin-top: 20px" align="center" dir="rtl" >
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="ثبت نام" />
                        </div>
                        <div class="col-md-3"></div>

                    </div>
                </form>
            {% endif %}

        </div>
    </div>


{% endblock %}

